{% extends 'base.html' %}
{% block title %}Perfil{% endblock %}
{% block content %}
{% load static %}
<h2>Mi perfil</h2>
<div class="row">
    <div class="col-md-4">
        {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}" class="rounded-circle img-thumbnail" width="160">
        {% else %}
            <img src="{% static 'img/default-avatar.png' %}" class="rounded-circle img-thumbnail" width="160">
        {% endif %}
    </div>
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item"><strong>Usuario:</strong> {{ profile.user.username }}</li>
            <li class="list-group-item"><strong>Email:</strong> {{ profile.user.email }}</li>
            <li class="list-group-item"><strong>Bio:</strong> {{ profile.bio }}</li>
            <li class="list-group-item"><strong>Cumpleaños:</strong> {{ profile.birthdate }}</li>
        </ul>
        <a href="{% url 'edit-profile' %}" class="btn btn-warning mt-2">Editar perfil</a>
    </div>
</div>
{% endblock %}
